@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
}
.loading-center{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}