.true{
    color: green;
}
.false{
    color: red;
}
.display-div-launch{
    margin-right: 75px;
    margin-left: 75px;
}
.display-data-launch{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.launch-box{
    margin-bottom: 20px;
    height: 200px;
    width: 350px;
}
.heading-space{
    text-align: center;
    margin-bottom: 40px;
}
.heading-space h1{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.launch-mission{
    margin-top: 10px;
    margin-bottom: 10px;
}
.launch-mission h2{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.launch-site{
    
}