.true{
    color: green;
}
.false{
    color: red;
}
.green{
    height: 20px;
    width: 20px;
    background-color: green;
}
.red{
    height: 20px;
    width: 20px;
    background-color: red;    
}